/* h1 {
  font-size: x-large;
  color: blue !important;
  font-weight: bolder;
  margin-bottom: 20px;
  text-align: center;
}

th {
  vertical-align: top;
  background-color: lightgray !important;
}

input, textarea, select {
  border-color: darkgray !important; 

.card {
  width: 20rem;
  border: 2px solid #000;
  padding: 20px;
}

.profile-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.profile-card {
  width: 300px;
  border: 2px solid #ccc;
  padding: 20px;
  text-align: center;
  background-color: white;
}

.profile-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.ordenFuente {
  text-align: justify;
  font-size: 20px;
} */

/* Estilo Admin Tienda */

#menu h1 {
  margin-bottom: 60px; /* Espacio entre elementos */
  margin-left: 20px; /* Margen izquierdo para separar del borde de la página */
  margin-top: 20px;
}

#menu h2 {
  font-size: 1.2em; /* Tamaño de fuente más pequeño */
  color: blue; /* Color azul */
  transition: color 0.3s; /* Transición de color al colocar el mouse encima */
  cursor: pointer; /* Cursor de apuntador */
  text-decoration: underline; /* Subrayado */
  margin-bottom: 20px; /* Espacio entre elementos */
  margin-left: 20px; /* Margen izquierdo para separar del borde de la página */
}

#menu h2:hover {
  color: purple; /* Cambio de color a morado al colocar el mouse encima */
}



/* Estilo menu superior */
.logo {
  height: 40px;
  margin-right: 10px;
}



/* Estilo Index */
.card {
  border: 1px solid #CED4DA;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  font-size: 16px; /* Tamaño de fuente base para la tarjeta */
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  color: #495057;
  font-size: 18px; /* Tamaño de fuente para el título */
  font-weight: bold;
}

.precio {
  color: #000000; /* Precio en color negro */
  font-size: 18px; /* Tamaño de fuente para el precio */
  font-weight: bold;
}

.precio-descuento {
  color: #FFC107; /* Oferta en color amarillo */
  font-size: 16px; /* Tamaño de fuente para el descuento */
  font-weight: bold;
}

.index_stock {
  color: red; /* Subscrito en color rojo */
  font-weight: bold;
}

.card-text {
  font-size: 14px; /* Tamaño de fuente para el texto de la tarjeta */
}

.boton {
  color: #fff;
  border: none;
  background-color: #4c56af;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none !important;
  display: inline-block !important;
}


/* Estilo para la descripción cortada */
.descripcion {
  height: 100px; /* Altura máxima de la descripción */
  overflow: hidden; /* Ocultar el exceso de texto */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos al truncar el texto */
}

/* Estilos específicos para colores de precio, descuento y subscriptor */
.precio-oferta {
  color: #FFC107; /* Color del precio con oferta (amarillo) */
}

.precio-subscripto {
  color: red; /* Color del precio con subscripto (rojo) */
}

/* Estilo para los botones dentro de la tarjeta */
.card-body .btn {
  display: block; /* Hace que los botones se comporten como bloques */
  width: 100%; /* Ocupan el ancho completo del contenedor */
  margin-top: 10px; /* Espacio superior entre los botones */
}

/* Estilo para el botón de "Ver más", separado del anterior */
.card-body .btn-primary {
  margin-top: 10px; /* Espacio superior entre los botones */
  margin-right: 10px; /* Espacio derecho del botón */
}

/* Ajuste adicional si es necesario */
@media (max-width: 576px) {
  .card-body .btn {
    margin-top: 5px; /* Espacio superior entre los botones en pantallas pequeñas */
  }

  .card-body .btn-primary {
    margin-top: 5px; /* Espacio superior entre los botones de "Ver más" en pantallas pequeñas */
  }
}

/* Estilos para los botones */
.btn {
  padding: 5px 10px; /* Ajusta el padding para controlar el tamaño del botón */
  font-size: 14px; /* Tamaño de la fuente */
}

.btn.btn-secondary,
.btn.btn-primary {
  border-radius: 5px; /* Borde redondeado */
  transition: all 0.3s ease; /* Transición suave */
}

.btn.btn-secondary:hover,
.btn.btn-primary:hover {
  opacity: 0.8; /* Opacidad al pasar el mouse */
}


/* Estilo Nosotros */

.card {
  width: 20rem;
  border: 2px solid #000;
  padding: 20px;
}

.profile-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.profile-card {
  width: 300px;
  border: 2px solid #ccc;
  padding: 20px;
  text-align: center;
  background-color: white;
}

.profile-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.ordenFuente {
  text-align: justify;
  font-size: 20px;
}

/* Estilo detalle boleta */
.status {
  text-align: center;
}

.status img {
  width: 50px; /* Ajusta el tamaño según necesites */
  height: auto;
  margin-bottom: 10px !important;
}

.container1 {
  display: flex;
  justify-content: space-between;
  float: right;
  margin-right: 20px;
}

.status span {
  margin-right: 10px; /* Ajusta el valor según la separación deseada */
}



/* Estilos para ADMINBODEGA */
body {
  font-family: Arial, sans-serif;
}

.container2 {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.form-group {
  margin-bottom: 20px;
}

.button-group {
  margin-top: 20px;
}

/* Estilos para formularios */

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para tablas */

table {
  width: 100%; 
  border-collapse: collapse;
  margin-top: 20px;
}


th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Estilos para enlaces */



a:hover {
  text-decoration: underline;
}

.margen{
  margin-bottom: 10px;
}

/* Estilo API CONCURSO */

.h1API {
  margin-top: 60px !important; 
  margin-bottom: 60px !important;
  text-align: center;
}

.h2API {
  text-align: center;
}

/* Estilo para FICHA PROD*/
.tarjeta {
  width: 110%; /* Ancho de la tarjeta */
  margin: 0 auto; /* Centrar la tarjeta horizontalmente */
  
}

.titulo{
  font-size: 60px;
}

.error{
  color: red;
  font-weight: bolder;
}

label {
  font-weight: bolder;
}

/* Estilo para INGRESAR*/

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.container {
  margin: 100px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.boton[type="submit"] {
  color: #fff;
  border: none;
  background-color: #4c5eaf;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none !important; /* Asegúrate de que los enlaces no tengan subrayado */
  display: inline-block !important; /* Asegura que el enlace se comporte como un botón */
}

.boton[type="reset"] {
  color: #fff;
  border: none;
  background-color: #4c56af;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none !important; /* Asegúrate de que los enlaces no tengan subrayado */
  display: inline-block !important; /* Asegura que el enlace se comporte como un botón */
}
.logo {
  height: 40px;
  margin-right: 10px;
}

.margen{
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Estilo para FOOTER*/

.footerStyle {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-right: 10px;
}

#cuadro-imagen {
  margin-left: 250px; /* Ajusta este valor según sea necesario */
  max-width: 100%;
}

.container {
  margin: 70px; /* Añade un margen de 15 píxeles alrededor del contenedor */
}